body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1 {
    text-align: center;
  }

  form {
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  #image-container {
    margin: 20px auto;
    width: 80%;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }